<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Student Form</h1>

<form action="#"
      th:action="@{/processstudent}"
      th:object="${student}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    First Name :<input type="text" th:field="*{fName}" />

    <span th:if="${#fields.hasErrors('fName')}"
          th:errors="*{fName}"></span><br />

    Last Name :<input type="text" th:field="*{lName}" />

    <span th:if="${#fields.hasErrors('lName')}"
          th:errors="*{lName}"></span><br />

    Major :<input type="text" th:field="*{major}" />

    <span th:if="${#fields.hasErrors('major')}"
          th:errors="*{major}"></span><br />

    <input type="submit" value="Enter" />

</form>

</body>
</html>